/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

    @font-face {
        font-family: riot_font;
        src: url('/media/friz_riot-webfont.woff');
    }

	body {
        font-family: riot_font;
        font-size: 14px;
	}

    .loginButton {
        background:url('/media/login.png') no-repeat top left;
        border: 1px solid #666;
        width: 66px;
        height: 20px;
    }

    .sendButton {
        background:url('/media/send.png') no-repeat top left;
        border: 1px solid #666;
        width: 66px;
        height: 20px;
    }

    .outerbox {
        background-color: #999;
        background-image:url('/media/backpattern.png');
        border: 2px solid #000;
        max-width: 1140px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px 20px 20px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -moz-box-shadow: 0px 0px 8px #000;
        -webkit-box-shadow: 0px 0px 8px #000;
        box-shadow: 0px 0px 8px #000;
    }

    #friend_headerouter {
        width: 100%;
        height: 20px;
        color: white;
        font-size: 14px;
        background-image:url('/media/menubar.png');
        border: 1px solid #000;
    }

    #friend_header {
        padding: 2px 0px 0px 0px;
        width: 50%;
        margin: 0px auto;
        text-align: center;
    }

    #active_friendheaderouter {
        width: 100%;
        height: 20px;
        color: white;
        font-size: 14px;
        background-image:url('/media/menubar.png');
        border: 1px solid #000;
    }

    #active_friendheader {
        padding: 2px 0px 0px 0px;
        width: 50%;
        margin: 0px auto;
        text-align: center;
    }

    .eventheaderouter {
        width: 100%;
        height: 20px;
        color: white;
        font-size: 14px;
        background-image:url('/media/menubar.png');
        border: 1px solid #000;
    }

    .eventheader {
        padding: 2px 0px 0px 0px;
        width: 50%;
        margin: 0px auto;
        text-align: center;
        width: 100%;
    }

    #friendholder {
        position: relative;
        height: 335px;
        margin-bottom: 10px;
    }

    #inputform {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15%;
    }

    .chatwindow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80%;
        border: 1px solid #000;
        overflow: auto;
        background-color: #ddd;
        padding-bottom: 5px;
    }

    #logouter {
        width: 100%;
        height: 130px;
        background-image:url('/media/center2.png');
        position: relative;
    }

    #log {
        position: absolute;
        width: 93%;
        left: 15px;
        top: 15px;
        height: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .chatInput {
        width: 80%;
        height: 20px;
        border: 1px solid #000;
    }

    #friendrequestsouter {
        width: 100%;
        height: 130px;
        background-image:url('/media/center2.png');
        position: relative;
    }

    #friendrequests {
        position: absolute;
        width: 93%;
        left: 15px;
        top: 15px;
        height: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #gameinvitesouter {
        width: 100%;
        height: 130px;
        background-image:url('/media/center2.png');
        position: relative;
    }

    #gameinvites {
        position: absolute;
        width: 93%;
        left: 15px;
        top: 15px;
        height: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #friendbox {
        width: 100%;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .friendboxheader {
        width: 100%;
        background-color: #000;
        color: white;
        margin: 2px 0px 2px 0px;
    }

    .friendentry {
        margin-top: 2px;
        background-color: #eee;
        border: 1px solid #ccc;
        width: 100%;
        cursor: pointer;
    }

    .offlineentry {
        margin-top: 2px;
        background-color: #eee;
        border: 1px solid #ccc;
        width: 100%;
        cursor: pointer;
    }

    .align-right {
        position: absolute;
        right: 0;
        padding: 5px 0px 5px 0px;
    }

    .idinput {
        width: 15%;
    }

    .inlineform {
        display: inline;
    }

    .blackbox {
        margin: 15px 15px 15px 15px;
        padding: 10px 10px 0px 10px;
        background-color: #000;
        border: 3px solid green;
        color: #00dd33;
    }

    .shadow1 {
        -moz-box-shadow:    0px 0px 5px 4px #aaa;
        -webkit-box-shadow: 0px 0px 5px 4px #aaa;
        box-shadow:         0px 0px 5px 4px #aaa;
    }

    .inputrow {
        width: 99.5%;
        height: 500px;
        background-color: #000;
        color: #00dd33;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
    } .inputrow:focus {
        outline: none;
    }

    .status_box {
        padding: 10px 15px 10px 15px;
    }

    .status_field_1 {
        display: none;
    }
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
